.clients {
  padding: 60px 0;
}

.clients-title {
  margin-top: 0;
  margin-bottom: 30px;
  padding: 0;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

@media screen and (min-width: 1200px) {
  .clients {
    padding: 94px 0;
  }
  .clients-title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
  }
}
