.portfolio-body {
  background-color: var(--bckgr-body-color);
}

.content-portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}
.main-portfolio .del {
  font-size: 0;
}

@media screen and (min-width: 1200px) {
  .content-portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
